# Puerto del servidor
PORT=3000

# Conexión a MongoDB Atlas
# Recuerda poner la IP 0.0.0.0/0 en MongoDB Atlas Network Access
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/taylorswift-db?retryWrites=true&w=majority

# Entorno
NODE_ENV=development
