# Puerto del servidor
PORT=3000

# Conexión a MongoDB Atlas (no incluyas credenciales reales en este archivo)
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/taylorswift-db?retryWrites=true&w=majority

# Entorno
NODE_ENV=development
